<!DOCTYPE html>
<html>
<head>
    <title>Busca editais </title>
</head>
<body>
    <h1>Areas</h1>
    <ul>
        <li><a href="/download/08">Ingegneria civile ed Architectura</a></li>
        <li><a href="/download/09">Ingegneria industriale e dell'informazione</a></li>
        <li><a href="/download/07">Scienze agrarie e veterinaria</a></li>
        <li><a href="/download/05">Scienze biologiche</a></li>
        <li><a href="/download/03">Scienze chimiche</a></li>
        <li><a href="/download/10">Scienze dell'antichità, filologico-letterarie e storico-artistiche</a></li>
        <li><a href="/download/04">Scienze della Terra</a></li>
        <li><a href="/download/13">Scienze economiche e statistiche</a></li>
        <li><a href="/download/02">Scienze fisiche</a></li>
        <li><a href="/download/12">Scienze giuridiche</a></li>
        <li><a href="/download/01">Scienze matematiche e informatiche</a></li>
        <li><a href="/download/06">Scienze mediche</a></li>
        <li><a href="/download/14">Scienze politiche e sociali</a></li>
        <li><a href="/download/11">Scienze storiche, filosofiche, pedagogiche e psicologiche</a></li>
    </ul>
</body>
</html>